<br>
<hr>
<br>

<h2 [ngStyle]="{
    'background-color': '#7c34db',
    'color': 'white',
    'text-align': 'center',
    'font-style': 'italic'
  }">
  My Name: {{PERBascevan.bascevanName}}</h2>

  <br>
  <hr>
  <br>  

<h2 [ngStyle]="{
    'color': '#7c34db',
    'text-align': 'center',
    'text-decoration': 'underline'
  }"
  >Email: {{PERBascevan.bascevanEmail}}</h2>

<br>
<hr>
<br>  

<h2 [ngStyle]="{
    'color': '#7c34db',
    'text-align': 'center',
 
  }">
  Sheridan Home Campus: {{PERBascevan.bascevanCampus | uppercase}}</h2>

<br>
<hr>