<app-header-bascevan [PERBascevan]="PERBascevan"></app-header-bascevan>

<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">home</mat-icon>
      &nbsp;Tab #1 : bascevan ({{PERBascevan.bascevanId}})
    </ng-template>
    <app-bascevan-about [PERBascevan]="PERBascevan"></app-bascevan-about>
  </mat-tab>  

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">polymer</mat-icon>
      &nbsp;Tab #2 : bascevan ({{PERBascevan.bascevanId}})
    </ng-template>
    <app-bascevan-country [CTRYBascevan]="CTRYBascevan"></app-bascevan-country>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">pets</mat-icon>
      &nbsp;Tab #3 : bascevan ({{PERBascevan.bascevanId}})
    </ng-template>
    <app-bascevan-pics [PERBascevan]="PERBascevan" [CTRYBascevan]="CTRYBascevan"></app-bascevan-pics>
  </mat-tab>

</mat-tab-group>
